#Visualização de Variáveis e textos

In [ ]:
print('Conhecendo o comando Print')

x = 8
print(x)

Conhecendo o comando Print
8

In [ ]:
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = 'Carlos Michelin'
print(nome)

Carlos Michelin

Concatenação

In [ ]:
x = 5
print('O valor de x é', x)

O valor de x é 5

In [ ]:
print('O valor de x é', x, 'e o dobro é', x * 2)

O valor de x é 5 e o dobro é 10

In [ ]:
print("Eu,", nome, "tirei", x, "na prova de Python")

Eu, Carlos Michelin tirei 5 na prova de Python

In [ ]:
y = 10; z = 20 + x - y

print("Declarar variáveis na mesma linha:", y, z)

Declarar variáveis na mesma linha: 10 15

Type

In [ ]:
x = 10
type(x)
print("x", type(x))

nome = "Carlos"
print("nome", type(nome))

num = "100"
num_convert = int(num) #Converter variável
print("num", type(num))
print("num_cover", type(num_convert))

num_float = float(num)
print("num_float", num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_cover <class 'int'>
num_float 100.0

Input
*   Armazerar a informação digitada pelo usuário em uma variável
*   o dado armazernado sempre será um texto

In [ ]:
nome = input("Digite o nome do usuário") # Aguarda o usuário digital algo
print(nome)

Digite o nome do usuárioCarlos
Carlos

In [ ]:
valor = input("Digite a nota")

print(nome, "sua nota foi", valor)

Digite a nota7
Carlos sua nota foi 7

In [ ]:
valor = input("Digite o preço do produto: ")
print(valor)

Digite o preço do produto: 100
100

In [ ]:
valor_convert = int(valor)
desconto = valor_convert - 5
print(desconto)

95

In [ ]:
desconto = int(valor) - 5
print(desconto)

95